In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.scrapethissite.com/pages/forms/?page_num=1'

In [4]:
page = requests.get(url)

In [6]:
soup = BeautifulSoup(page.text, 'html')

In [12]:
soup.find('th').text.strip()

'Team Name'

In [17]:
titles = soup.find_all('th')

In [19]:
headings = [title.text.strip() for title in titles]
headings

['Team Name',
 'Year',
 'Wins',
 'Losses',
 'OT Losses',
 'Win %',
 'Goals For (GF)',
 'Goals Against (GA)',
 '+ / -']

In [20]:
import pandas as pd
df = pd.DataFrame(columns=headings)
df

Empty DataFrame
Columns: [Team Name, Year, Wins, Losses, OT Losses, Win %, Goals For (GF), Goals Against (GA), + / -]
Index: []

In [21]:
column_data = soup.find_all('tr')

In [23]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    print(individual_row_data)

['Boston Bruins', '1990', '44', '24', '', '0.55', '299', '264', '35']
['Buffalo Sabres', '1990', '31', '30', '', '0.388', '292', '278', '14']
['Calgary Flames', '1990', '46', '26', '', '0.575', '344', '263', '81']
['Chicago Blackhawks', '1990', '49', '23', '', '0.613', '284', '211', '73']
['Detroit Red Wings', '1990', '34', '38', '', '0.425', '273', '298', '-25']
['Edmonton Oilers', '1990', '37', '37', '', '0.463', '272', '272', '0']
['Hartford Whalers', '1990', '31', '38', '', '0.388', '238', '276', '-38']
['Los Angeles Kings', '1990', '46', '24', '', '0.575', '340', '254', '86']
['Minnesota North Stars', '1990', '27', '39', '', '0.338', '256', '266', '-10']
['Montreal Canadiens', '1990', '39', '30', '', '0.487', '273', '249', '24']
['New Jersey Devils', '1990', '32', '33', '', '0.4', '272', '264', '8']
['New York Islanders', '1990', '25', '45', '', '0.312', '223', '290', '-67']
['New York Rangers', '1990', '36', '31', '', '0.45', '297', '265', '32']
['Philadelphia Flyers', '1990', '33', '37', '', '0.412', '252', '267', '-15']
['Pittsburgh Penguins', '1990', '41', '33', '', '0.512', '342', '305', '37']
['Quebec Nordiques', '1990', '16', '50', '', '0.2', '236', '354', '-118']
['St. Louis Blues', '1990', '47', '22', '', '0.588', '310', '250', '60']
['Toronto Maple Leafs', '1990', '23', '46', '', '0.287', '241', '318', '-77']
['Vancouver Canucks', '1990', '28', '43', '', '0.35', '243', '315', '-72']
['Washington Capitals', '1990', '37', '36', '', '0.463', '258', '258', '0']
['Winnipeg Jets', '1990', '26', '43', '', '0.325', '260', '288', '-28']
['Boston Bruins', '1991', '36', '32', '', '0.45', '270', '275', '-5']
['Buffalo Sabres', '1991', '31', '37', '', '0.388', '289', '299', '-10']
['Calgary Flames', '1991', '31', '37', '', '0.388', '296', '305', '-9']
['Chicago Blackhawks', '1991', '36', '29', '', '0.45', '257', '236', '21']

In [31]:
for i in range(1, 25):
    url = 'https://www.scrapethissite.com/pages/forms/?page_num={}'.format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')
    column_data = soup.find_all('tr')
    for row in column_data[1:]:
        row_data = row.find_all('td')
        individual_row_data = [data.text.strip() for data in row_data]
        #print(individual_row_data)
        length = len(df)
        df.loc[length] = individual_row_data

In [32]:
df

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8,0.463,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10,0.427,231,264,-33
579,Vancouver Canucks,2011,51,22,9,0.622,249,198,51
580,Washington Capitals,2011,42,32,8,0.512,222,230,-8
581,Winnipeg Jets,2011,37,35,10,0.451,225,246,-21

In [33]:
df.to_csv('HockeyTeams.csv', index=False)